* {
  box-sizing: border-box;
}

.yellow {
  background-color: yellow;
  position: absolute;
  inset: 0 0 30vh 0;
  display: grid;
  place-content: center;
}

.circle {
  aspect-ratio: 1;
  width: 100px;
  background-color: red;
  border-radius: 50%;
  justify-self: center;
  display: grid;
  place-content: center;
}

.triangle {
  position: absolute;
  aspect-ratio: 1;
  width: 150px;
  background-color: yellow;
  inset: 62vh 38%;
  z-index: 2;
  transform-origin: 0%;
  transform: rotate(337deg) skew(45deg);
}
.red {
  position: absolute;
  inset: 70vh 0 0 0;
  background-color: red;
}
